# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'Ubuntu-16.04'

resources:         
  repositories:
  - repository: destinationRepo
    type: github
    name: samiyaakhtar/flux-get-started
    endpoint: solid-doodle-push-auth

steps:
- checkout: self
  persistCredentials: true
  clean: true

- powershell: |
   git --version
   git checkout master
   New-Item -Path "$(System.DefaultWorkingDirectory)" -Name "testfile1.txt" -ItemType "file" -Value "This is a text string."
   Write-Host "new file created, now adding file to git"
   git -c http.extraheader="AUTHORIZATION: bearer $(System.AccessToken)" add -A
   Write-Host "git commit with message"
   git -c http.extraheader="AUTHORIZATION: bearer $(System.AccessToken)" commit -a -m "Test Commit from Azure DevOps"
   Write-Host "git push"
   git -c http.extraheader="AUTHORIZATION: bearer $(System.AccessToken)" push
