# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'Ubuntu-16.04'

resources:         
  repositories:
  - repository: destinationRepo
    type: github
    name: samiyaakhtar/flux-get-started
    endpoint: solid-doodle-push-auth

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'
  
- checkout: self
  persistCredentials: true
  clean: true

- powershell: |
   git --version
   #  git clone https://github.com/samiyaakhtar/solid-doodle.git
   #  cd solid-doodle
   git checkout master
   #  New-Item -Path "$(System.DefaultWorkingDirectory)" -Name "testfile.txt" -ItemType "file" -Value "This is a text string."
   

   Write-Host "new file created, now adding file to git"
   #  git add -A
   Write-Host "setup author info"
   git config user.email test@test.com
   git config user.name "BOT"
   Write-Host "git commit with message"
   git commit --allow-empty -a -m "Test Commit from Azure DevOps"
   git remote set-url origin git@github.com:samiyaakhtar/solid-doodle.git
   Write-Host "git push"
   git push

